# This configures [direnv](https://direnv.net/) if installed and enabled to
# automatically enter the nix-shell defined in `shell.nix`,
# either by using lorri if available, or nix-shell otherwise.

if type lorri &>/dev/null; then
    eval "$(lorri direnv)"
else
    # fall back to using direnv's builtin nix support (blocking)
    use nix
fi

# enable go modules
export GO111MODULE=on
unset GOPATH

# Load private overrides
[[ -f .envrc.private ]] && source_env .envrc.private
