<!DOCTYPE html>
<html>
<head>
  <title>Gerrit Submit Queue</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
</head>
<body>
  <h1>Gerrit Submit Queue</h1>
  <h2>{{ .projectName }}/{{ .branchName }} is at {{ printf "%.7s" .HEAD }}</h2>
  <h2>Current Queue:</h2>

  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">ChangeSet</th>
        <th scope="col">Owner</th>
        <th scope="col">Subject &amp; CommitID</th>
        <th scope="col">Flags</th>
      </tr>
    </thead>
    <tbody>
      {{ range $serie := .series }}
      <tr>
        <td colspan="4">Serie with {{ len $serie.ChangeSets }} changes{{ if not ($serie | isAutoSubmittable) }}, not auto submittable {{ end }}</th>
      </tr>
      {{ range $changeset := $serie.ChangeSets}}
      <tr class="{{ if $serie | isAutoSubmittable }}table-success{{ end }}">
        <th scope="row"><a href="{{ changesetURL $changeset }}" target="_blank">#{{ $changeset.Number }}</a></th>
        <td>{{ $changeset.OwnerName }}</td>
        <td>
          <strong>{{ $changeset.Subject }}</strong><br />
          <small><code>{{ $changeset.CommitID }}</code></small>
        </td>
        <td>
            <span>
                {{ if $changeset.IsVerified }}<span class="badge badge-success badge-pill">+1 (CI)</span>{{ end }}
                {{ if $changeset.IsCodeReviewed }}<span class="badge badge-info badge-pill">+2 (CR)</span>{{ end }}
            </span>
        </td>
      </tr>
      {{ end }}
      {{ end }}
    </tbody>
  </table>
</body>
</html>
