<!DOCTYPE html>
<html>
<head>
  <title>Gerrit Submit Queue</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Gerrit Submit Queue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#region-info">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#region-queue">Current Queue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#region-log">Log</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2 id="region-info">Info</h2>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Project Name:</th>
          <td>{{ .projectName }}</td>
        </tr>
        <tr>
          <th scope="row">Branch Name:</th>
          <td>{{ .branchName }}</td>
        </tr>
        <tr>
          <th scope="row">HEAD:</th>
	  <td><code>{{ .HEAD }}</code></td>
        </tr>
        <tr>
          <th scope="row">Currently running:</th>
	  <td>
	    {{ if .currentlyRunning }}
	    started at {{ .currentlyRunning.Format "Jan 02, 2006 15:04:05 UTC" }}
	    {{ else }}
	    <span class="text-secondary">Not currently running</span>
	    {{ end }}
	  </td>
        </tr>
      </tbody>
    </table>
    <h2 id="region-queue">Current Queue</h2>
    {{ block "series" .series }}{{ end }}

    <h2 id="region-log">History</h2>

    <div id="history-accordion">
        {{ range $i, $result := .results }}
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="history-collapse-{{ $i }}">
                Result Item {{ $i }}, {{ $result.StartTime.Format "Jan 02, 2006 15:04:05 UTC"}} - {{ $result.EndTime.Format "Jan 02, 2006 15:04:05 UTC"}}
              </button>
            </h5>
          </div>
          <div id="history-collapse-{{ $i }}" class="collapse show" data-parent="#history-accordion">
            <div class="card-body">
              <!--// TODO: currentlyRunning, HEAD-->
              {{ if $result.Error }}
              <div class="text-danger">{{ $result.Error }}</div>
              {{ end }}
              <ul>
                {{ range $logEntry := $result.LogEntries }}
                <li>{{ $logEntry }}</li>
                {{ end }}
              </ul>
              {{ block "series" $result.Series}}{{ end }}
            </div>
          </div>
        </div>
        {{ end }}
    </div>
  </div> <!-- .container -->
</body>
</html>
