<!DOCTYPE html>
<html>
<head>
  <title>Gerrit Submit Queue</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Gerrit Submit Queue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#region-info">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#region-wipserie">WIP Serie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#region-log">Log</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2 id="region-info">Info</h2>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Project Name:</th>
          <td>{{ .projectName }}</td>
        </tr>
        <tr>
          <th scope="row">Branch Name:</th>
          <td>{{ .branchName }}</td>
        </tr>
        <tr>
          <th scope="row">Currently running:</th>
          <td>
            {{ if .currentlyRunning }}yes{{ else }}no{{ end }}
          </td>
        </tr>
        <tr>
          <th scope="row">HEAD:</th>
          <td>
            {{ if .HEAD }}{{ .HEAD }}{{ else }}-{{ end }}
          </td>
        </tr>
      </tbody>
    </table>

    <h2 id="region-wipserie">WIP Serie</h2>
    {{ if .wipSerie }}
    {{ block "serie" .wipSerie }}{{ end }}
    {{ else }}
    - 
    {{ end }}

    <h2 id="region-log">Log</h2>
    {{ range $entry := .memory.Entries }}
    <div class="d-flex flex-row bg-dark {{ levelToClasses $entry.Level }} text-monospace"> 
      <div class="p-2"><small>{{ $entry.Timestamp.Format "2006-01-02 15:04:05 UTC"}}</small></div>
      <div class="p-2 flex-grow-1"><small><strong>{{ $entry.Message }}</strong></small></div>
    </div>
    <div class="bg-dark {{ levelToClasses $entry.Level }} text-monospace text-break" style="padding-left: 4rem"> 
    <small>{{ fieldsToJSON $entry.Fields }}</small>
    </div>
    {{ end }}
</body>
</html>
